.dispMain{
    margin-top: 13vh;
}

.ImgPoke{
    height: fit-content;
    max-height: 30vh;
}

.titlePoke{
    left: 0px;
    position: fixed;
    border-top: 5vw solid var(--silver);
    border-left: 10vh solid var(--silver);
    border-right: 30px solid transparent;
    height: 0;
    width: 50vw;
    box-shadow: -5px -5px var(--yellow);
}

h1{
    -webkit-text-stroke: 2px black;
    font-size: 8vh;
    color: white; 
    font-weight: 1000;
    top: 22vh;
    position: fixed;
}