.NavBar {
    background-color: var(--red_1);
    height: 8vh;
    color: var(--yellow);
    font-size: 7vh;
    font-family: pokemon;
    text-shadow: 1vh 0.5vh rgb(0, 0, 0);
    padding: 2vh;

}

.Main {
    display: flex;
    justify-content: space-between;
    background-color: var(--red_2);
    margin: 0px;
    padding: 0px;
    height: 88vh;

}

.flexEnd {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    
   
}

.list {

    height: 77vh;
    overflow-y: auto;
}

.scroll {

    max-height: 40px;

}

.right {
    transform: rotate(-90deg);
}
.left{
    transform: rotate(90deg);
}

.list::-webkit-scrollbar {
    display: none;
}

.display {
    display: flex;
    justify-content: left;
    padding-left: 6%;
    padding-top: 4%;
    height: 60vh;
    width: 40vw;
}