@font-face {
    font-family: 'fonte sans';
    src: url('./fonts/ModernSans-Light.otf') format('opentype');

    font-family: "pokemon";
    src: url("./fonts/Pokemon\ Solid.ttf");
}

:root {

    --red_1: rgba(227, 41, 59, 1);
    --red_2: rgba(204, 51, 66, 1);
    --red_3: rgba(219, 84, 97, 1);
    --yellow: rgba(254, 224, 49, 1);
    --blue: rgba(57, 107, 185, 1);
    --silver: rgba(197, 198, 195, 1);
    --alice-blue: rgba(227, 242, 253, 1);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: fonte minha;
    font-size: 25px;
}

.LoguinContainer {
    display: flex;
    margin: 15px;
    padding: 50px;

}


.triangulo {
    border-left: 150px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100vh solid var(--red_1);
    transform: rotate(0deg);

}

.square {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red_1);
    height: 100vh;
    width: 45vw;

}

.Divisor {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
}

.main {
    margin-left: 45px;
    margin-top: 45px;
    width: 45vw;

}

button {

    font-weight: 1000;
    height: 40px;
    width: 85%;
    margin-top: 15px;
    background-color: var(--yellow);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;

}

button:hover {
    transition: 0.6s;
    transform: scale(1.05);
}